.TiledBoardViewPort {
    overflow: hidden;
}

.TiledBoard {
    position: relative;
    background-color: black;
}

.TiledBoard .tileRow {
    display: flex;
    line-height: 1;
}

.TiledBoard .tileRow svg:hover {
    border-style: solid;
    border-width: 1px;
    margin: -1px;
}
